{% extends "/base.html.twig" %}

{% block title %} Symrecipe - Accueil
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Symrecipe!</h1>
            <p class="lead">Symrecipe est un site internet qui permet de créer des recettes à l'aide d'ingrédients que tu auras ajoutés toi-même. Tu pourras ensuite partager ces recettes avec la communauté ou bien simplement les garder sur ton espace <privé></privé>.</p>
            <hr class="my-4">
            <p>Pour commencer à créer des recettes, rendez-vous sur la page d'inscription.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
            </p>
        </div>
    </div>

{%  endblock %}