{% extends 'base.html.twig' %}

{% block title %}
    Symrecipe - Recettes publiques
{% endblock %}

{% block body %}
    <div class="container mt-4">
            <h1>Les recettes en libre accès</h1>
        {% if not recipes is same as([]) %}
            <div class="d-flex justify-content-center flex-wrap">
                {% for recipe in recipes %}
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header"><a href="{{ path('recipe.show', {id: recipe.id}) }}">Recette n°{{ recipe.id }}</a> </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ recipe.name }}</h4>
                            <p class="card-text">{{ recipe.description|slice(0,100) ~ '...' }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
            </div>
            <h4>Il n'y a pas de recettes</h4>
        {% endif %}
    </div>
{% endblock %}