{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Modification du profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire du modification du profil</h1>

        {{ form(form) }}
    </div>

{% endblock %}
