{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire de connexion</h1>

        {#  Display message flash when user create account #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        <form action="{{ path('security.login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger mt-4">
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>

            {% endif %}
            <div class="form-group">
                <label for="username" class="form-label mt-4">Adresse mail</label>
                <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}" aria-describedby="emailHelp" placeholder="exemple@protonmail.com">
                <small id="emailHelp" class="form-text text-muted">Nous ne partageons votre mail avec personne d'autre.</small>
            </div>
            <div class="form-group">
                <label for="password" class="form-label mt-4">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="mot de passe" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
        </form>
    </div>
{% endblock %}
